<nav class="nav container">
    <div class="nav-list-btn">
        <span class="nav-list-btn-dash"></span>
    </div>
    <ul class="link-container link-container-invisible">
        <li>
            <a class="navbar-link" href="/inventory/item">See all items</a>
        </li>
        <li>
            <a class="navbar-link" href="/inventory/category">See all categories</a>
        </li>
        <li>
            <a class="navbar-link" href="/inventory/item/create">Create an item</a>
        </li>
        <li>
            <a class="navbar-link" href="/inventory/category/create">Create a category</a>
        </li>
    </ul>
</nav>
