<nav class="nav container">
    <ul class="link-container">
        <li>
            <a class="navbar-link" href="/inventory/item">See all items</a>
        </li>
        <li>
            <a class="navbar-link" href="/inventory/category">See all categories</a>
        </li>
        <li>
            <a class="navbar-link" href="/inventory/item/create">Create an item</a>
        </li>
        <li>
            <a class="navbar-link" href="/inventory/category/create">Create a category</a>
        </li>
    </ul>
</nav>
