<nav>
    <ul>
        <li>
            <a href="/inventory/item">See all items</a>
        </li>
        <li>
            <a href="/inventory/category">See all category</a>
        </li>
        <li>
            <a href="/inventory/item/create">Create an item</a>
        </li>
    </ul>
</nav>
