<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>inventory</title>
</head>
<body>
<a href="/inventory/item">See all items</a>
<a href="/inventory/category">See all category</a>
<h1>All items</h1>
</body>
</html>