<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>inventory</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/nav.css" type="text/css">
    <link rel="stylesheet" href="/button.css" type="text/css">
    <link rel="stylesheet" href="/form.css" type="text/css">
</head>
<body>
<header>
    <%- include ('./partials/nav'); %>
</header>
<main class="container">
    <form class="form" method="post" action="/inventory/item/create">
        <h2>Create an item</h2>
        <div>
            <label for="item-name">
                Item name
            </label>
            <br>
            <input type="text" id="item-name" name="item_name" required minlength="3" maxlength="30">
        </div>

        <div>
            <label for="item-desc">
                Item description
            </label>
            <br>
            <textarea rows="5" id="item-desc" name="item_desc" required minlength="3" maxlength="500"></textarea>
        </div>
        <div>
            <label for="item-category">
                Category
            </label>
            <br>
            <select id="item-category" name="category">
                <option value="">None</option>
                <% for (const category of categories){ %>
                    <option value=<%= category._id %>><%= category.category_name %> </option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="item-price">
                Item price
            </label>
            <br>
            <input type="number" id="item-price" name="item_price" placeholder="[5,100]" required min="5" max="100">
        </div>
        <div>
            <label for="item-qty">
                Item quantity
            </label>
            <br>
            <input type="number" id="item-qty" name="item_quantity" placeholder="[0,10]" required min="0" max="10">
        </div>
        <button class="submit" type="submit">Submit</button>
    </form>
</main>
<script src="/NavController.js"></script>
</body>
</html>